body{
	padding:0;
	margin:0;
	background: #f1f1f1;
}

/*global*/
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
h1, h2, h6{
	text-align: center;
}
p{
	text-align: justify;
	text-indent: 5px;
}
ul{
	padding:0;
	margin:0;
}

/*header*/
header {
	background:#35424a;
	color: white;
	padding-top: 30px;
	min-height:70px;
	border-bottom: solid 3px #d9d6c8;
}
header a {
	color:white;
	text-decoration: none;
	font-size: 16px;
}
header a:hover{
	color: #cccccc;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}
header #logo {
	float: left;
}
header #logo h1 {
	margin:0;
}
header nav{
	float:right;
	padding-top: 50px;
}

/*home*/
#face{
	border:solid 3px #d9d6c8;
	border-radius: 100%;
	display: block;
    margin: auto;
}

/*about*/
#about {
	background:#d9d6c8;
}

/*portfolio*/
.box{
	float:left;
	width: 20%;
	text-align: center;
	padding: 10px;
}

/*contact*/
#contact {
	background-color: #d9d6c8;
	display:block;
	padding-bottom: 3px;

}
.social {
	text-align: center;
}
.social  li {
	display:inline;
	padding: 10px;
}
.social i {
	color:#f5f5f5;
	font-size:200%;
}

/*footer*/
#footer,h6{
	background:#35424a;
	color:white;
	padding: 5px;
}

/*media*/
@media(max-width: 768px){
	header #logo,
	header nav,
	header nav li,
	.box{
		float:none;
		text-align:center;
		width:100%;
	}
	header nav{
		padding-top:10px;
	}
	#portfolio .box{
		max-height:200px;
	}
	
	#face{
		max-height: 200px;
		max-width: 200px;
	}
	.social i {
		font-size: 150%;
		width: 100%
	}

}